
<li class='c-nav__item' role='presentation'>
	<a class='c-nav__link' href='https://andrewlb.com'>Portfolio</a>
</li>
<li class='c-nav__item' role='presentation'>
	<a class='c-nav__link' href='https://github.com/readywater'>Github</a>
</li>
<li class='c-nav__item' role='presentation'>
	<a class='c-nav__link' href='https://pit.andrewlb.com'>New America Fellowship blog</a>
</li>
{% for page in site.pages %}
  {% unless page.name == '404.md' %}
    {% if page.title %}
      <li class='c-nav__item' role='presentation'>
        <a class='c-nav__link' href='{{ page.url | prepend: site.baseurl }}'>{{ page.title }}</a>
      </li>
    {% endif %}
  {% endunless %}
{% endfor %}